.detalle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.detalle1{
    width: 100%;
    border: 2px solid black;
    display: flex;
    text-transform: uppercase;
    font-weight: bold;
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin: 170px;
    align-content: flex-start;
    font-size: 20px;
}
.titulo{
    font-size: 35px;
}
.detalle2{
    margin-right: 170px;
    font-size: 50px;
}
.items{
    margin-bottom: 100px;
}
.botones{
    color: white;
    width: 200px;
    font-size: 20px;
    height: 50px;
    background-color: black;
    text-transform: uppercase;
    margin: 10px;
}