

.t{
    width: 200px;
}

.carta{
    border: black 2px solid;
    padding: 2%;
    width: 200px;
    height: 350px;
    margin: 25px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 15px;
    align-items: center;}


